/*! CSS Used from: https://technext.github.io/gazette/css/core-style.css */
/*! @import https://technext.github.io/gazette/css/bootstrap.min.css */
*,
::after,
::before {
    box-sizing: border-box;
}

footer,
header,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

img {
    vertical-align: middle;
    border-style: none;
}

[role=button],
a,
button,
input:not([type=range]) {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

[type=submit],
button,
html [type=button] {
    -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

h2,
h3,
h4,
h5 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12,
.col-lg-2,
.col-lg-3,
.col-lg-9,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-sm-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width:576px) {
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width:768px) {
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media (min-width:992px) {
    .col-lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        }
        
        .col-lg-9 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%;
    }
}

.collapse {
    display: none;
}

.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-toggle:empty::after {
    margin-left: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.dropdown-item:disabled {
    color: #868e96;
    background-color: transparent;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none;
}

.navbar-toggler:not([disabled]):not(.disabled) {
    cursor: pointer;
}

@media (min-width:992px) {
    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

.bg-dark {
    background-color: #343a40 !important;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

@media (min-width:576px) {
    .d-sm-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}
@media (min-width:768px) {
    .d-md-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.align-items-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}
.h-100 {
    height: 100% !important;
}

.mb-2 {
    margin-bottom: .5rem !important;
}

.my-5 {
    margin-top: 3rem !important;
}

.my-5 {
    margin-bottom: 3rem !important;
}
.mr-auto {
    margin-right: auto !important;
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .navbar {
        display: none;
    }
}

/*! end @import */
/*! @import https://technext.github.io/gazette/css/owl.carousel.css */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}

/*! end @import */
/*! @import https://technext.github.io/gazette/css/font-awesome.min.css */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-search:before {
    content: "\f002";
}

.fa-play:before {
    content: "\f04b";
}

.fa-chevron-right:before {
    content: "\f054";
}
.fa-heart-o:before {
    content: "\f08a";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-facebook:before {
    content: "\f09a";
}
.fa-bars:before {
    content: "\f0c9";
}

.fa-pinterest:before {
    content: "\f0d2";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.fa-angle-up:before {
    content: "\f106";
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*! end @import */
/*! @import https://technext.github.io/gazette/css/magnific-popup.css */
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*! end @import */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

h2,
h3,
h4,
h5 {
    color: #3a3a3a;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p {
    color: #9f9f9f;
    font-size: 1em;
    line-height: 1.9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a:focus {
    outline: 0 solid;
}

a,
a:hover,
a:focus {
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    text-decoration: none;
    outline: none;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

ul {
    margin: 0;
}

ul li {
    list-style: outside none none;
}

img {
    height: auto;
    max-width: 100%;
}

.font-pt {
    font-family: 'PT Serif', serif !important;
}

.background-overlay,
.background-overlay-5 {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;
}

.background-overlay:before,
.background-overlay-5:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.background-overlay:before {
    background-color: rgba(0, 0, 0, 0.7);
}

.background-overlay-5:before {
    background-color: rgba(0, 0, 0, 0.5);
}

.mt-30 {
    margin-top: 30px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-gray {
    background-color: #f6f6f6;
}

.bg-dark {
    background-color: #1d1d1d !important;
}

#scrollUp {
    background-color: #ff084e;
    border-radius: 0;
    bottom: 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    right: 60px;
    text-align: center;
    width: 40px;
}
.section_padding_100 {
    padding: 100px 0;
}

.section_padding_100_70 {
    padding: 100px 0 70px;
}

.section_padding_100_50 {
    padding: 100px 0 50px;
}

.top-header {
    position: relative;
    z-index: 1;
    height: 70px;
    background-color: #1d1d1d;
}

.breaking-news-title {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
}

#breakingNewsTicker.ticker {
    width: 100%;
    text-align: left;
    position: relative;
    overflow: hidden;
}

#breakingNewsTicker.ticker ul {
    width: 100%;
    position: relative;
}

#breakingNewsTicker.ticker ul li {
    display: none;
    width: 100%;
}

#breakingNewsTicker.ticker ul li a {
    color: #fff;
    font-size: 14px;
}

#breakingNewsTicker.ticker ul li a:hover {
    color: #ff084e;
}

#stockNewsTicker.ticker {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#stockNewsTicker.ticker ul {
    width: 100%;
    position: relative;
}

#stockNewsTicker.ticker ul li {
    display: none;
    width: 100%;
    text-align: right;
}

.single-stock-report .stock-values span {
    padding-right: 20px;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
}

.single-stock-report .stock-values span:last-child {
    color: rgba(255, 255, 255, 0.5);
}

.single-stock-report .stock-index h4 {
    color: #fff;
    margin-bottom: 0;
}

.single-stock-report {
    border-right: 2px solid rgba(255, 255, 255, 0.05);
    margin-right: 20px;
    display: inline-block;
    text-align: left;
}

.single-stock-report:last-child {
    border-right: none;
    margin-right: 0;
}

.single-stock-report .stock-index.minus-index h4,
.single-stock-report .stock-index.plus-index h4 {
    color: #ff0303;
    position: relative;
    z-index: 1;
    padding-left: 30px;
}

.single-stock-report .stock-index.minus-index h4:before,
.single-stock-report .stock-index.plus-index h4:before {
    content: '\e688';
    color: #ff0303;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -10px;
    font-family: 'Pe-icon-7-stroke';
    font-size: 44px;
    line-height: 32px;
}

.single-stock-report .stock-index.plus-index h4 {
    color: #30ca00;
}

.single-stock-report .stock-index.plus-index h4:before {
    content: '\e682';
    color: #30ca00;
}
.middle-header {
    position: relative;
    z-index: 1;
    height: 160px;
    background-color: #fff;
}

.bottom-header {
    width: 100%;
    height: 55px;
    border-top: 1px solid #e4e4e4;
}

.main-menu .navbar.navbar-expand-lg {
    padding: 0;
}

.main-menu .navbar.navbar-expand-lg .nav-link {
    color: rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}

.main-menu .navbar.navbar-expand-lg .nav-item.active .nav-link,
.main-menu .navbar.navbar-expand-lg .nav-link:hover {
    color: #ff0303;
}

.main-menu .dropdown-item {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.main-menu .dropdown-item:hover {
    color: #ff0303;
}

.main-menu #searchbtn i {
    font-size: 20px;
    cursor: pointer;
}

.header-search-form form input {
    width: 700px;
    height: 35px;
    padding: 0 15px;
    border: 1px solid #ebebeb;
    font-size: 12px;
    font-style: italic;
    border-radius: 4px;
}

.header-search-form {
    display: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.welcome-blog-post-slide .single-blog-post-slide {
    height: 580px;
    position: relative;
    z-index: 1;
}

.welcome-blog-post-slide .single-blog-post-slide .single-blog-post-content {
    position: absolute;
    top: 40px;
    left: 60px;
    z-index: 5;
}

.single-blog-post-slide .tags>a {
    color: #fff;
    background-color: #ff0303;
    padding: 2px 5px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    display: inline-block;
}

.single-blog-post-slide h3 a {
    color: #fff;
    font-size: 36px;
    margin-bottom: 15px;
}

.single-blog-post-slide .date a {
    color: #fff;
    font-style: italic;
    font-size: 18px;
    display: inline-block;
}

.single-blog-post-slide h3 a:hover,
.single-blog-post-slide .date a:hover {
    color: #ff0303;
}

.simple-marquee-container {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    z-index: 1;
    height: 65px;
}

*[class^="marquee"] {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
}

.marquee-content-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    position: relative;
    z-index: 1;
    height: 65px;
}

.marquee-content-items li {
    background-color: #101010;
    padding: 0 20px;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.marquee-content-items li:nth-child(even) {
    background-color: #1c1c1c;
}

.marquee-content-items li a {
    font-size: 18px;
    color: #fff;
    display: inline-block;
}

.marquee-content-items li a>span {
    background-color: #ff0303;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: 300;
    margin-right: 20px;
}

.single-breaking-news-widget {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.widget-title h5 {
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.breakingnews-title {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    height: 30px;
    left: 0;
}

.breakingnews-title p {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    position: absolute;
    background-color: #ff0303;
    height: 30px;
    line-height: 30px;
    width: 50%;
    text-align: center;
    top: 0;
    left: 0;
}

.gradient-background-overlay {
    position: relative;
    z-index: 3;
    background-position: center center;
    background-size: cover;
}

.gradient-background-overlay:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 1%, #000 98%, #000 99%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(1%, rgba(0, 0, 0, 0.5)), color-stop(98%, #000), color-stop(99%, #000));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 1%, #000 98%, #000 99%);
}

.breaking-news-heading {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 20px;
}

.breaking-news-heading h5 {
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
}

.dont-miss-post-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    max-width: 70px;
    margin-right: 30px;
}

.dont-miss-post-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 70px);
    flex: 0 0 calc(100% - 70px);
    max-width: calc(100% - 70px);
}

.dont-miss-post-content a {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    display: block;
}

.dont-miss-post-content a:hover {
    color: #ff0303;
}

.dont-miss-post-content span {
    font-size: 14px;
    font-style: italic;
    color: #838383;
}

.subscribe-form input,
.subscribe-form button {
    width: 100%;
    background-color: #f5f5f5;
    height: 45px;
    margin-bottom: 15px;
    border: none;
    padding: 0 15px;
    font-size: 12px;
}

.subscribe-form button {
    background-color: #ff0303;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.gazette-post-tag a {
    font-size: 14px;
    font-weight: 700;
    background-color: #ff0303;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 15px;
    display: inline-block;
}

.gazette-welcome-post h2 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 400;
}
.gazette-post-date {
    color: #838383;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 0;
    display: block;
}

.gazette-welcome-post p {
    line-height: 1.8;
    font-size: 18px;
    font-weight: 300;
}

.post-continue-btn a {
    height: 54px;
    border: 1px solid #1e1e1e;
    display: inline-block;
    padding: 0 20px;
    line-height: 52px;
    color: #1e1e1e;
    text-transform: uppercase;
}

.post-continue-btn a:hover {
    border: 1px solid #ff0303;
    color: #ff0303;
}

.post-continue-btn a i {
    padding-left: 15px;
}

.post-share-btn-group a {
    color: #d3d3d3;
    font-size: 20px;
    padding: 0 10px;
    display: inline-block;
}

.post-share-btn-group a:hover {
    color: #ff0303;
}
.gazette-heading h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 50px;
}

.todays-post-content p {
    font-size: 14px;
    line-height: 2;
    margin-top: 15px;
}

.todays-post-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    margin-right: 30px;
    max-width: 32%;
}

.todays-post-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 68%;
    flex: 0 0 68%;
    max-width: 68%;
}

.todays-post-content h3 a {
    font-weight: 400;
    font-size: 30px;
}

.post-total-comments {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.single-video-post {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.video-post-thumb {
    position: relative;
    z-index: 1;
}

.video-post-thumb:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    content: '';
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-video-post:hover .video-post-thumb:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.video-post-thumb>a {
    position: absolute;
    top: 50%;
    color: #fff;
    left: 50%;
    z-index: 100;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }
    
    .single-video-post h5 a {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 0;
        line-height: 1.5;
        display: block;
        font-weight: 400;
    }
    
    .editorial-post-content h2 a {
        color: #fff;
        font-size: 48px;
        display: block;
    }
    
    .editorial-post-date {
    font-style: italic;
    color: #fff;
}

.editorial-post-slides .owl-dots {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.editorial-post-slides .owl-dot {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    margin: 0 3px;
}

.editorial-post-slides .owl-dot.active {
    width: 9px;
    height: 9px;
    background-color: rgba(255, 255, 255, 1);
}

.gazette-single-catagory-post span {
    font-style: italic;
    font-size: 14px;
    color: #9f9f9f;
}

.gazette-single-catagory-post {
    padding: 15px 0;
    border-top: 1px solid #d7d7d7;
}

.gazette-catagory-posts-area .row .col-12:first-child .gazette-single-catagory-post:first-child,
.gazette-catagory-posts-area .row .col-12:last-child .gazette-single-catagory-post:first-child,
.gazette-catagory-posts-area .row .col-12:nth-child(2) .row .col-12 .gazette-single-catagory-post {
    border-top: none;
}

.gazette-catagory-posts-area .row .col-12:nth-child(2) .row .col-12 .gazette-single-catagory-post {
    padding-bottom: 0;
}

.single-footer-widget {
    margin-bottom: 30px;
}

.single-footer-widget .footer-widget-title h4 {
    color: #fff;
    margin-bottom: 40px;
    font-weight: 400;
}

.single-footer-widget .footer-widget-menu li>a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-family: 'PT Serif', serif;
    line-height: 28px;
}

.single-footer-widget .footer-widget-menu li>a:hover {
    color: rgba(255, 255, 255, 1);
    padding-left: 5px;
}
.bottom-footer-area {
    height: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.copywrite-text p {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.copywrite-text p>a {
    color: #fff;
}

/*! CSS Used from: https://technext.github.io/gazette/css/responsive.css */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-stock-report .stock-values span {
        padding-right: 10px;
    }

    .single-stock-report {
        margin-right: 10px;
    }

    .welcome-blog-post-slide .single-blog-post-slide .single-blog-post-content {
        top: 30px;
        left: 30px;
    }

    .welcome-blog-post-slide .single-blog-post-slide {
        height: 450px;
    }

    .dont-miss-post-thumb {
        margin-right: 15px;
    }

    .single-blog-post-slide h3 a,
    .editorial-post-content h2 a,
    .gazette-welcome-post h2 {
        font-size: 36px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-stock-report .stock-values span {
        padding-right: 5px;
        font-size: 10px;
    }
    
    .single-stock-report {
        margin-right: 5px;
    }
    
    #breakingNewsTicker.ticker ul li a {
        font-size: 12px;
    }
    .navbar-toggler {
        padding: 0;
        font-size: 20px;
        background-color: #ff0303;
        border: none;
        border-radius: 6px;
        width: 120px;
        height: 35px;
        color: #fff;
        line-height: 28px;
        margin: 10px 0;
    }

    #gazetteMenu {
        padding: 30px;
        background-color: #f4f2f8;
        z-index: 1002;
    }
.header-search-form form input {
    width: 600px;
    margin-bottom: 20px;
}

.welcome-blog-post-slide .single-blog-post-slide .single-blog-post-content {
    top: 30px;
    left: 30px;
}

.welcome-blog-post-slide .single-blog-post-slide {
    height: 420px;
}

.todays-post-thumb,
.dont-miss-post-thumb {
    margin-right: 15px;
}

.editorial-post-content h2 a,
.single-blog-post-slide h3 a,
.gazette-welcome-post h2 {
    font-size: 30px;
}
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .top-header {
        height: auto;
        padding: 20px 0;
    }
    
    .single-stock-report .stock-values span {
        padding-right: 2px;
        font-size: 9px;
    }
    
    .single-stock-report {
        margin-right: 2px;
    }
    
    #breakingNewsTicker.ticker ul li a {
        font-size: 10px;
    }
    
    .single-stock-report .stock-index h4 {
        font-size: 20px;
    }
    
    .stock-news-area {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        padding-top: 15px;
    }
    .navbar-toggler {
        padding: 0;
        font-size: 20px;
        background-color: #ff0303;
        border: none;
        border-radius: 6px;
        width: 120px;
        height: 35px;
        color: #fff;
        line-height: 28px;
        margin: 10px 0;
    }

    #gazetteMenu {
        padding: 30px;
        background-color: #f4f2f8;
        z-index: 1002;
    }

    .header-search-form form input {
        width: 100%;
        margin-bottom: 20px;
    }
    .logo-area a img {
        height: 20px;
        width: auto;
    }

    .welcome-blog-post-slide .single-blog-post-slide .single-blog-post-content {
        top: 20px;
        left: 20px;
    }
    
    .welcome-blog-post-slide .single-blog-post-slide {
        height: 380px;
    }
    
    .single-blog-post-slide h3 a {
        font-size: 24px;
    }
    
    .todays-post-thumb,
    .dont-miss-post-thumb {
        margin-right: 15px;
    }
    
    .editorial-post-content h2 a,
    .single-blog-post-slide h3 a,
    .gazette-welcome-post h2 {
        font-size: 24px;
    }
    
    .gazette-welcome-post p {
        font-size: 16px;
    }
    
    .post-share-btn-group,
    .editorial-post-content {
        margin-top: 30px;
    }
    
    .todays-post-thumb {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
    }
    .gazette-heading h4 {
        font-size: 20px;
    }
.todays-post-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .single-stock-report .stock-values span {
        padding-right: 5px;
        font-size: 10px;
    }

    .single-stock-report {
        margin-right: 5px;
    }

    #breakingNewsTicker.ticker ul li a {
        font-size: 12px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-stock-report .stock-values span {
        padding-right: 15px;
        font-size: 10px;
    }

    .single-stock-report {
        margin-right: 15px;
    }

    #breakingNewsTicker.ticker ul li a {
        font-size: 12px;
    }

    .welcome-blog-post-slide .single-blog-post-slide .single-blog-post-content {
        top: 30px;
        left: 30px;
    }

    .post-share-btn-group {
        margin-top: 0;
    }
}

/*! CSS Used fontfaces */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('https://technext.github.io/gazette/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('https://technext.github.io/gazette/fonts/fontawesome-webfont.eot#iefix&v=4.7.0') format('embedded-opentype'),
    url('https://technext.github.io/gazette/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('https://technext.github.io/gazette/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('https://technext.github.io/gazette/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('https://technext.github.io/gazette/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ptserif/v16/EJRVQgYoZZY2vCFuvAFbzr-tdg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ptserif/v16/EJRVQgYoZZY2vCFuvAFSzr-tdg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ptserif/v16/EJRVQgYoZZY2vCFuvAFYzr-tdg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ptserif/v16/EJRVQgYoZZY2vCFuvAFWzr8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ptserif/v16/EJRSQgYoZZY2vCFuvAnt66qfVyvHpA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ptserif/v16/EJRSQgYoZZY2vCFuvAnt66qWVyvHpA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ptserif/v16/EJRSQgYoZZY2vCFuvAnt66qcVyvHpA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ptserif/v16/EJRSQgYoZZY2vCFuvAnt66qSVys.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Pe-icon-7-stroke';
    src: url('https://technext.github.io/gazette/fonts/Pe-icon-7-stroke.eot?d7yf1v');
    src: url('https://technext.github.io/gazette/fonts/Pe-icon-7-stroke.eot#iefixd7yf1v') format('embedded-opentype'), url('https://technext.github.io/gazette/fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'), url('https://technext.github.io/gazette/fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'), url('https://technext.github.io/gazette/fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
    font-weight: normal;
    font-style: normal;
}

.contentor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.middle-header {
    height: 80px !important;
    margin-top: 50px !important;
}

.item-contentor {
    flex-basis: 33%;
    height: 500px;
}

.post-sozinho {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    margin: 0 5%;
}

.hoje-post {
    max-width: 59%;
}

.hoje-thumbs {
    max-width: 59%;
}

.pagina-seleccionada {
    color: #fff !important;
    background-color: #ff0303 !important;
}

.image-single-post-hp {
    width: 40%;
    height: 170px;
}

.text-single-post-hp {
    width: 58%;
}

blockquote {
    display: none;
}

.conteudo p {
    text-align: justify;
    text-justify: inter-word;
    color: #7d7d7d !important;
}

figure {
    border: 1px solid lightgrey;
    border-radius: 5%;
}

figcaption {
    color: #9f9f9f;
    font-size: 0.9em;
    line-height: 1.9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}

.coluna {
    display: flex;
    flex-direction: row;
    gap: 5%;
    flex-wrap: wrap;
}

.coluna-esquerda {
    flex-basis: 65%;
}


.coluna-direita {
    flex-basis: 30%;
}

@media only screen and (max-width: 768px) {
    .image-single-post-mobile {
        width: 100% !important;
        height: 210px !important;
    }

    .text-single-post-mobile {
        width: 100% !important;
    }

    .image-single-post-hp {
        width: 90%;
        height: 215px;
        margin: 0 5%;
    }

    .text-single-post-hp {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .item-contentor {
        flex-basis: 100%;
    }

    .middle-header {
        height: 60px !important;
    }

    .coluna {
        display: flex;
        flex-direction: row;
        gap: 0;
        flex-wrap: wrap;
    }

    .coluna-esquerda {
        flex-basis: 100%;
    }

    .breaking-news-widget {
        margin: 0 5%;
    }

    .coluna-direita {
        flex-basis: 100%;
    }
}