.contentor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.middle-header {
    height: 80px !important;
    margin-top: 50px !important;
}

.item-contentor {
    flex-basis: 33%;
}

.post-sozinho {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    margin: 0 5%;
}

.hoje-post {
    max-width: 59%;
}

.hoje-thumbs {
    max-width: 59%;
}

.pagina-seleccionada {
    color: #fff !important;
    background-color: #ff0303 !important;
}

.image-single-post-hp {
    width: 40%;
    height: 170px;
}

.text-single-post-hp {
    width: 58%;
}

blockquote{
    display: none;
}

.conteudo p {
    text-align: justify;
    text-justify: inter-word;
    color: #7d7d7d !important;
}

figure{
    border: 1px solid lightgrey;
    border-radius:5%;
}

figcaption{
    color: #9f9f9f;
    font-size: 0.9em;
    line-height: 1.9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 20px;
    padding-right:20px;
}

@media only screen and (max-width: 768px) {
    .image-single-post-mobile {
        width: 100% !important;
        height: 210px !important;
    }

    .text-single-post-mobile {
        width: 100% !important;
    }

    .item-contentor {
        flex-basis: 100%;
    }

    .middle-header {
        height: 60px !important;
    }
}